@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');


body { 
    background-color: #0c0ce94d;
    font-family: 'Inter', sans-serif;
}
.jumbotron { 
    background: #fde3a7d7;
    
}
.container-central { 
    box-shadow: 5px 5px 5px 10px rgba(0,0,0, .212);
    width: 100%;
    align-items: center;
}
label { 
    font-size: 20px;
}

a { 
    text-decoration: none;
    color: white;
}

footer { 
    font-size: 20px;
}



/*Media Queries*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body img { 
        display: none;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body img { 
        display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){ 
    *{ 
        box-sizing: content-box;
        justify-content: center;
        margin: auto;
    }
    body img { 
        width: 400px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {     
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {      
}
